<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Editar ventas</title>
</head>
<body>
    <div class="container">
        <div class="row col-lg-12">
          <!--Aqui va la barra de navegacion-->
          <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Inicio</a>
              <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">ventas</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search"
                    placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
  
          <div class="row">
            <div class="col">
              <!--Aqui va el formulario de registro-->
              <div class="card">
                <div class="card-body">
                  <form action="/actualizar/<%= dulces.codigobarras %>" method="post">
                  <div class="row">
                    <div class="col-lg-6">
                      <label for="txtnumVenta" class="form-label">No. Venta:</label>
                      <input type="text" id="txtnumVenta" class="form-control" name="NumVenta" value="<%= ventas.numVenta %>">
                    </div>
                    <div class="col-lg-6">
                      <label for="txtproducto" class="form-label">Producto:</label>
                      <input type="text" id="txtproducto" class="form-control" name="producto" value="<%= ventas.producto %>">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-8">
                      <label for="txtpreciounitario" class="form-label">Precio Unitario:</label>
                      <input type="text" id="txtpreciounitario" class="form-control" name="preciounitario" value="<%= ventas.preciounitario %>">
                    </div>
                    <div class="col-lg-4">
                      <label for="txtcantidad" class="form-label">Cantidad:</label>
                      <input type="text" id="txtcantidad" class="form-control" name="cantidad" value="<%= ventas.cantidad %>">
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-lg-6">
                      <label for="txttotal" class="form-label">Ventas Totales:</label>
                      <input type="text" id="txttotal" class="form-control" name="total" value="<%= ventas.total %>">
                    </div>
                    <div class="col-lg-6">
                      <label for="txtiva" class="form-label">IVA:</label>
                      <input type="text" id="txtiva" class="form-control" name="iva" value="<%= ventas.iva %>">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3">
                      <button class="btn btn-primary">Actualizar</button>
                    </div>
                  </form>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <script src="./js/bootstrap.js"></script>
    </body>
</body>
</html>